#main {
    #headline {
        background: linear-gradient(149deg, rgba(255,189,33,1) 0%, rgba(255,111,0,1) 100%);
        color: transparent;
        background-clip: text;
    }

    #features {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px;

        .feature {
            border-radius: 20px;
            background-color: rgb(30 30 30);
            padding: 20px;
            box-shadow: 2px 2px 10px #101010;
            display: flex;
            flex-direction: column;
            text-align: left;
            transition: transform 0.5s ease-in-out, height 0.5s ease-in-out;
            overflow: hidden;

            .feature-header {
                display: flex;
                flex-direction: row;
                margin-bottom: 10px;
                align-items: center;

                .feature-icon {
                    margin-right: 5px;
                }

                .feature-title {
                    font-weight: bold;
                }

                .feature-close {
                    margin-left: auto;
                    position: relative;
                    display: none;
                    transition: opacity 0.5s ease-in-out;
                    cursor: pointer;
                }

                .feature-close::after {
                    content: '';
                    position: absolute;
                    width: calc(100% + 10px);
                    height: calc(100% + 10px);
                    left: -5px;
                    top: -5px;
                    border-radius: 50%;
                    background-color: var(--hover-color);
                    opacity: 0;
                    transition: all 0.25s ease-in-out;
                    cursor: pointer;
                }

                :is(.feature-close:hover)::after {
                    opacity: 1;
                }

                :is(.feature-close:active)::after {
                    opacity: 1;
                    background-color: var(--active-color);
                }
            }

            .feature-description {
                transition: opacity 0.5s ease-in-out;
            }

            .feature-long-description {
                display: none;
                transition: opacity 0.5s ease-in-out;
                overflow: auto;
            }
        }

        .feature:not(.noHover):hover {
            transform: translateY(5px);
        }

        .feature.transition {
            transition: all 0.5s ease-in-out;
        }

        #applocker {
            .feature-long-description {
                .side {
                    display: flex;
                    text-align: start;

                    div.text {
                        h1, h2, h3, h4, h5, h6 {
                            text-align: center;
                        }
                    }

                    div#video_container {
                        display: flex;
                        flex-direction: column;

                        video {
                            border-radius: 20px;
                            margin: 10px 10px 0;
                        }

                        .tip {
                            color: #7e7e7e;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }

    .center {
        display: flex;
        flex-direction: column;

        * {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .textcenter {
        text-align: center;
    }

    .h {
        position: absolute;
        width: 0;
        height: 94px;
        top: -94px;
    }

    .h1 {
        position: relative;
    }
}

#video_dialog {
    z-index: 1001;
}

@media (max-width: 500px) {
    #main {
        .side {
            text-align: center;
            flex-direction: column;

            div#video_container {
                video {
                    margin-left: auto !important;
                    margin-right: auto !important;
                }

                .tip {
                    margin-left: auto !important;
                    margin-right: auto !important;
                }
            }
        }
    }
}

@property --btn-color-1 {
    syntax: '<color>';
    initial-value: #943CFFFF;
    inherits: false;
}

@property --btn-color-2 {
    syntax: '<color>';
    initial-value: #B732FFFF;
    inherits: false;
}

@keyframes cardExpand {
    from {}
    to {
        top: 10px;
        left: 10px;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
    }
}

@keyframes dialog_open {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes dialog_close {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}