#cheat_activated {
    color: white;
    background: red;
    padding: 10px;
}

head.show {
    display: block !important;
}

body:has(#bsod) {
    margin: 0;
    padding: 0;
    transform: none !important;
    height: 100vh;
}

html:has(#bsod) {
    color: white !important;
    background-color: blue !important;
}

#bsod {
    display: block;
    color: white !important;
    background-color: blue !important;
    font-family: monospace;
    padding: 10px;
    margin: 0;
    font-size: medium;
    transform: none !important;
}